<!DOCTYPE html>
<html lang="en-GB">

  <%- partial('_partial/head')%>

  <body>

      <div class="container">

      <%- partial('_partial/header') %>

      <main class="content" id="content" role="main">

        <%- body %>

      </main>


      <%- partial('_partial/footer') %>

      </div>

    <%- partial('_partial/foot')%>

  </body>

</html>
